In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\rania yunaningrum\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: setuptools in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: packaging>=20.0 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\rania yunaningrum\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st

In [22]:
#laad data
data = pd.read_csv("C:/Users/Rania Yunaningrum/OneDrive/Dokumen/SMT 6/DATMIN/Data MBA.csv")
data

,NO. INVOICE,Almond,Alpukat,Anggur,Apel,Asam Bangkok,Avomango,Blueberry Argentina,Buah Naga,Buah Tin,...,Lengkeng Bangkok,Mangga,Melon Golden,Nanas Honi,Nectarin Australia,Peach Australia,Pear,Pisang Cavendisk,Plum,Salak Pondoh
0,6423,0,0,1,1,1,1,1,0,1,...,0,1,0,1,0,1,1,1,1,0
1,6429,0,0,1,1,1,1,1,0,1,...,0,1,0,1,0,1,1,1,1,0
2,6430,1,0,0,1,1,1,1,0,1,...,0,1,0,1,0,1,1,1,1,0
3,6434,1,0,0,1,1,0,1,0,1,...,1,1,1,0,0,0,1,0,1,0
4,6435,1,0,1,1,1,0,1,1,0,...,1,1,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,7482,0,1,0,1,1,0,1,1,0,...,1,1,0,1,1,1,1,1,0,0
464,7489,0,1,0,1,1,0,1,1,0,...,1,1,0,1,1,1,1,1,0,0
465,7490,0,1,0,1,1,0,1,1,0,...,1,1,0,0,1,1,1,1,1,0
466,7492,0,1,0,1,1,0,1,1,0,...,1,1,0,0,1,1,1,1,0,0
467,7493,0,1,0,1,1,0,1,0,0,...,1,1,0,0,1,1,1,1,0,0

In [23]:
data = data.drop('NO. INVOICE', axis = 1)
data

,Almond,Alpukat,Anggur,Apel,Asam Bangkok,Avomango,Blueberry Argentina,Buah Naga,Buah Tin,Cherry Australia,...,Lengkeng Bangkok,Mangga,Melon Golden,Nanas Honi,Nectarin Australia,Peach Australia,Pear,Pisang Cavendisk,Plum,Salak Pondoh
0,0,0,1,1,1,1,1,0,1,0,...,0,1,0,1,0,1,1,1,1,0
1,0,0,1,1,1,1,1,0,1,0,...,0,1,0,1,0,1,1,1,1,0
2,1,0,0,1,1,1,1,0,1,0,...,0,1,0,1,0,1,1,1,1,0
3,1,0,0,1,1,0,1,0,1,1,...,1,1,1,0,0,0,1,0,1,0
4,1,0,1,1,1,0,1,1,0,1,...,1,1,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,0,1,0,1,1,0,1,1,0,0,...,1,1,0,1,1,1,1,1,0,0
464,0,1,0,1,1,0,1,1,0,0,...,1,1,0,1,1,1,1,1,0,0
465,0,1,0,1,1,0,1,1,0,0,...,1,1,0,0,1,1,1,1,1,0
466,0,1,0,1,1,0,1,1,0,0,...,1,1,0,0,1,1,1,1,0,0
467,0,1,0,1,1,0,1,0,0,0,...,1,1,0,0,1,1,1,1,0,0

In [24]:
from mlxtend.frequent_patterns import apriori, association_rules
#nilai support
frequent_itemsets = apriori(data,min_support = 0.85, use_colnames = True)
frequent_itemsets

C:\Users\Rania Yunaningrum\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                 itemsets
0  0.850427           (Asam Bangkok)
1  0.867521    (Blueberry Argentina)
2  0.863248               (GrapeOla)
3  0.910256                  (Jeruk)
4  0.903846                 (Mangga)
5  0.910256                   (Pear)
6  0.854701        (GrapeOla, Jeruk)
7  0.854701         (GrapeOla, Pear)
8  0.910256            (Jeruk, Pear)
9  0.854701  (Jeruk, GrapeOla, Pear)

In [25]:
rules = association_rules(frequent_itemsets,metric = 'confidence',min_threshold = 0.9)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(GrapeOla),(Jeruk),0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103
1,(Jeruk),(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631
2,(GrapeOla),(Pear),0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103
3,(Pear),(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631
4,(Jeruk),(Pear),0.910256,0.910256,0.910256,1.000000,1.098592,0.081690,inf
5,(Pear),(Jeruk),0.910256,0.910256,0.910256,1.000000,1.098592,0.081690,inf
6,"(GrapeOla, Jeruk)",(Pear),0.854701,0.910256,0.854701,1.000000,1.098592,0.076704,inf
7,"(Pear, Jeruk)",(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631
8,"(GrapeOla, Pear)",(Jeruk),0.854701,0.910256,0.854701,1.000000,1.098592,0.076704,inf
9,(Jeruk),"(GrapeOla, Pear)",0.910256,0.854701,0.854701,0.938967,1.098592,0.076704,2.380671
10,(GrapeOla),"(Pear, Jeruk)",0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103
11,(Pear),"(GrapeOla, Jeruk)",0.910256,0.854701,0.854701,0.938967,1.098592,0.076704,2.380671

In [27]:
#antaseden length (banyaknya itemset)
rules['antecedents_len'] = rules['antecedents'].apply(lambda x : len(x))

In [28]:
mba = rules[(rules['antecedents_len'] >= 1) &
          (rules['confidence']>=0.9) &
          rules['support']>=0.85]
mba

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_len
0,(GrapeOla),(Jeruk),0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103,1
1,(Jeruk),(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631,1
2,(GrapeOla),(Pear),0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103,1
3,(Pear),(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631,1
4,(Jeruk),(Pear),0.910256,0.910256,0.910256,1.000000,1.098592,0.081690,inf,1
5,(Pear),(Jeruk),0.910256,0.910256,0.910256,1.000000,1.098592,0.081690,inf,1
6,"(GrapeOla, Jeruk)",(Pear),0.854701,0.910256,0.854701,1.000000,1.098592,0.076704,inf,2
7,"(Pear, Jeruk)",(GrapeOla),0.910256,0.863248,0.854701,0.938967,1.087714,0.068924,2.240631,2
8,"(GrapeOla, Pear)",(Jeruk),0.854701,0.910256,0.854701,1.000000,1.098592,0.076704,inf,2
9,(Jeruk),"(GrapeOla, Pear)",0.910256,0.854701,0.854701,0.938967,1.098592,0.076704,2.380671,1
10,(GrapeOla),"(Pear, Jeruk)",0.863248,0.910256,0.854701,0.990099,1.087714,0.068924,9.064103,1
11,(Pear),"(GrapeOla, Jeruk)",0.910256,0.854701,0.854701,0.938967,1.098592,0.076704,2.380671,1